*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #7fffd4;
}
.square {
    width: 70px;
    height: 70px;
    background-color:#7fffd4;
    display: inline-block;
    text-align: center;
    padding: 10px;
    line-height: 40px;
    border:solid black 1px;
}
#container{
    display: none;
    width: 60%;
    margin: auto;
    text-align: center;

}
.head{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}